
<div class="container">
  <!-- Titlebar -->
  <div id="titlebar">
    <div class="row">
      <div class="col-md-12">
        <h2 style="color: #0c6aca">Détaille/Modifier Offre</h2>
        <!-- Breadcrumbs -->
        <nav id="breadcrumbs">
        </nav>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-12 col-md-12">

      <div class="dashboard-list-box margin-top-0">

        <div class="dashboard-list-box-content">

          <div class="submit-page">

            <div class="form">
              <h5>Titre :</h5>
              <input class="search-field" type="text" [(ngModel)]="detailstage.titre" name="detailstage.titre"/>
            </div>
            <div class="form">
              <h5>Durée :</h5>
              <input class="search-field" type="text"   [(ngModel)]="detailstage.duree" name="detailstage.duree"/>
            </div>
            <div class="form">
              <h5>Type de Stage</h5>
              <input class="search-field" type="text"  [(ngModel)]="detailstage.type" name="detailstage.type" />

            </div>
            <div class="form">
              <h5>Technologies</h5>
              <input class="search-field" type="text"   [(ngModel)]="detailstage.technologie" name="detailstage.technologie"/>
            </div>
            <div class="form">
              <h5>Nombre des Stagiaire Demandes</h5>
              <input class="search-field" type="text"   [(ngModel)]="detailstage.nombrestagiaire" name="detailstage.nombrestagiaire"/>
            </div>
            <div class="form">
              <h5> Date début Stage:</h5>
              <input class="search-field" type="text" placeholder=""  [(ngModel)]="detailstage.dateDebut" name="detailstage.dateDebut" />
            </div>
            <div class="form" >
              <h5> Date fin de  Stage:</h5>
              <input class="search-field" type="text" placeholder="" [(ngModel)]="detailstage.dateFin" name="detailstage.dateFin"/>
            </div>
            <div class="form" style="width: 100%;">
              <h5>Description :</h5>
              <textarea class="WYSIWYG"  cols="40" rows="3" spellcheck="true"  [(ngModel)]="detailstage.descreption" name="detailstage.descreption"></textarea>
            </div>
          </div>

        </div>
      </div>


    </div>


    <div class="col-md-12">

      &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <a  class="button margin" (click)="edit()">Modifier </a>
    </div>
  </div>
</div>
