<div id="footer">
  <!-- Main -->
  <div class="container">



    <div class="three columns">

    </div>

    <div class="three columns">
      <h4></h4>

    </div>

    <div class="three columns">

    </div>

  </div>

  <!-- Bottom -->
  <div class="container">
    <div class="footer-bottom">
      <div class="sixteen columns">
        <h4>Follow Us</h4>
        <ul class="social-icons">
          <li><a class="facebook" ><i class="icon-facebook"></i></a></li>
          <li><a class="twitter" ><i class="icon-twitter"></i></a></li>
          <li><a class="gplus" ><i class="icon-gplus"></i></a></li>
          <li><a class="linkedin"><i class="icon-linkedin"></i></a></li>
        </ul>
        <div class="copyrights">©  Copyright 2018 by <a href="#">Work Scout</a>. All Rights Reserved.</div>
      </div>
    </div>
  </div>

</div>
