<div id="wrapper">


  <!-- Header
  ================================================== -->

  <div class="clearfix"></div>


  <!-- Titlebar
  ================================================== -->



  <!-- Content
  ================================================== -->

  <!-- Container -->
  <div class="container">

    <div class="my-account">

      <ul class="tabs-nav">
        <li class=""><a >Login</a></li>

      </ul>

      <div class="tabs-container">
        <!-- Login -->
        <div class="tab-content" id="tab1" >
          <form  class="login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div class="form-row form-row-wide">
              <label >Username:
                <i class="ln ln-icon-Male"></i>
                <input type="text" class="input-text" formControlName="username"  placeholder="Login"   [ngClass]="{ 'is-invalid': submitted && f.username.errors }"  />

              </label>
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required" style="color: red">Nom d'utilisateur est obligatoire</div>
              </div>
            </div>

            <div class="form-row form-row-wide">
              <label >Password:
                <i class="ln ln-icon-Lock-2"></i>
                <input class="input-text" type="password" formControlName="password"  placeholder="Mot de passe"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>

              </label>
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required" style="color: red">Mot de passe obligatoire</div>
              </div>
            </div>

            <p class="form-row">
              <input type="submit" class="button border fw margin-top-10" name="login" value="Login" />

                     </p>



          </form>
        </div>

        <!-- Register -->

      </div>
    </div>
  </div>



  <!-- Footer
  ================================================== -->
  <div class="margin-top-30"></div>



</div>
