

<div class="container">

  <!-- Titlebar -->
  <div id="titlebar">
    <div class="row">
      <div class="col-md-12">
        <h2 style="color: red">Modifier Formation</h2>
      </div>
    </div>
  </div>

  <div class="row">

    <!-- Table-->
    <div class="col-lg-12 col-md-12">

      <div class="dashboard-list-box margin-top-0">

        <div class="dashboard-list-box-content">

          <div class="submit-page">

            <div class="form">
              <h5>Titre :</h5>
              <input class="search-field" type="text" placeholder="" [(ngModel)]="detaillformation.titre " name="detaillformation.titre"/>
            </div>
            <div class="form" style="width: 100%;">
              <h5>Description</h5>
              <textarea class="WYSIWYG"  cols="40" rows="3" id="summary" spellcheck="true" [(ngModel)]="detaillformation.descreption " name="detaillformation.descreption"></textarea>
            </div>
            <div class="form">
              <h5>Durée :</h5>
              <input class="search-field" type="text" placeholder="" [(ngModel)]="detaillformation.duree " name="detaillformation.duree"/>
            </div>
            <div class="form">
              <h5>prix de Formation :</h5>
              <input class="search-field" type="text" placeholder="" [(ngModel)]="detaillformation.prix " name="detaillformation.prix"/>
            </div>

            <div class="form">
              <h5> Date début formation:</h5>
              <input class="search-field" type="text" placeholder="" [(ngModel)]="detaillformation.dateDebut  " name="detaillformation.dateDebut"/>
            </div>
            <div class="form" >
              <h5> Date fin de  formation:</h5>
              <input class="search-field" type="text" placeholder="" [(ngModel)]="detaillformation.dateFin " name="detaillformation.dateFin"/>
            </div>


            <div class="form">
              <h5>{{detaillformation.photo}} <span></span></h5>
              <label class="upload-btn">
                <input type="file" multiple  (change)="recuperFile($event)"  />
                <i class="fa fa-upload"></i> Browse
              </label>
              <span class="fake-input">{{this.photo}}</span>
            </div>

          </div>

        </div>
      </div>

      &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <a  class="button margin" (click)="edit()">Modifier </a>
    </div>



  </div>


</div>
